@page "/user/profile"

@attribute [Authorize()]

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h4" Class="mb-4">@T["My Profile"]</MudText>

    @if (Model != null)
    {
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
                 TabPanelsClass="pa-6" Color="Color.Info" IconColor="Color.Surface">
            <MudTabPanel Text="Profile">
                <UserProfileForm Model="Model.Profile" OnValidSubmit="OnSubmit" RedirectUrl="/"/>
            </MudTabPanel>
            <MudTabPanel Text="Notifications">
                <UserNotificationGrid User="Model" />
            </MudTabPanel>
        </MudTabs>
    }
    else
    {
        <MudProgressCircular Indeterminate="true" Size="Size.Small" />    
        <p>loading ... </p>
    }
</MudContainer>

@inject UserViewModel vm
@inject IStringLocalizer T

    @code {
    UserDto? Model;
    SessionUserDto sess;

    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    async Task LoadProfile()
    {
        sess = await vm.GetCurrentSessionAsync();
        if (sess.IsAuthenticated)
        {
            vm.ClearProfileCache(sess.Id); // make sure we reload from DB
            Model = await vm.GetUserAsync(sess.Id);
        }
    }

    private async Task OnSubmit()
    {
        if (Model is not null)
        {
            await vm.UpdateProfile(sess.Id, Model.Profile, true);
        }
    }
}
