@page "/user/profile"

@attribute [Authorize()]

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h4" Class="mb-4">@T["My Profile"]</MudText>

    @if (Model != null)
    {
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true"
                 TabPanelsClass="pa-6" Color="Color.Info" IconColor="Color.Surface">
            <MudTabPanel Text="Profile">
                @if (Model.HasGoogleAccount && vm.ExternalStorageName == "Google")
                {
                    <MudAlert Severity="Severity.Info" Class="my-4">
                        <MudStack Spacing="2">
                            @if (Model.UploadFolderId.HasValue)
                            {
                                <MudText>
                                    You have activated image upload over google drive. if you no longer use this feature
                                    you may delete your upload folder here.
                                </MudText>
                            }
                            else
                            {
                                <MudText>
                                    You are logged in with a google account. You may upload images over google drive
                                    by creating a personal upload folder. Documentation to follow.
                                </MudText>
                            }
                            <UserUploadFolderButton User="@Model" />
                        </MudStack>
                    </MudAlert>
                }

                <UserProfileForm Model="Model.Profile" OnValidSubmit="OnSubmit" RedirectUrl="/" />
            </MudTabPanel>
            <MudTabPanel Text="Notifications">
                <UserNotificationGrid User="Model" />
            </MudTabPanel>
        </MudTabs>
    }
    else
    {
        <MudProgressCircular Indeterminate="true" Size="Size.Small" />
        <p>loading ... </p>
    }
</MudContainer>

@inject UserViewModel vm
@inject IStringLocalizer T

@code {
    UserDto? Model;
    SessionUserDto sess;

    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
    }

    async Task LoadProfile()
    {
        sess = await vm.GetCurrentSessionAsync();
        if (sess.IsAuthenticated)
        {
            vm.ClearProfileCache(sess.Id); // make sure we reload from DB
            Model = await vm.GetUserAsync(sess.Id);
        }
    }

    private async Task OnSubmit()
    {
        if (Model is not null)
        {
            await vm.UpdateProfile(sess.Id, Model.Profile, true);
        }
    }
}
