@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>


<MudContainer MaxWidth="MaxWidth.Small">

<MudText Typo="Typo.h4">Reset password confirmation</MudText>
<p role="alert">
    Your password has been reset. Please <a class="mud-link mud-primary-text mud-link-underline-hover" href="Account/Login">click here to log in</a>.
</p>

</MudContainer>