@inject IJSRuntime JSRuntime
@inject NavigationManager nm

<div id="svsviewer" style="@Style"></div>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Warning">
    @errorMessage
    </MudAlert>
}

<!--
    <div class="my-2">
        <a href="@FullPath">@ImagePath</a>
    </div>

    <button class="btn btn-primary mt-4" @onclick="LoadImage">Load Image</button>
-->


@code
{
    [Parameter, EditorRequired]
    public string ImagePath { get; set; }

    [Parameter]
    public string Style { get; set; } = "width: 800px; height: 600px; background: black;";

    string FullPath;
    string errorMessage;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && RendererInfo.IsInteractive)
        {
            await LoadImage();
        }
        StateHasChanged();
    }

    protected async Task LoadImage()
    {
        if (!string.IsNullOrEmpty(ImagePath))
        {
            try
            {
                FullPath = nm.ToAbsoluteUri(ImagePath).AbsoluteUri;
                var dim = await JSRuntime.InvokeAsync<string>("svs.loadImage", "svsviewer", FullPath);
            }
            catch(Exception ex)
            {
                errorMessage = ex.Message;
            }
        }
    }

}

